{% extends 'base.html' %}

{% block title %}
    Athlete {{ user.username }}
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/cabinet.css' %}>

{% endblock %}

{% block content %}
    <h1>Page user: {{ user }}</h1>

        {% if user.avatar %}
    <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="Avatar" width="150">
        {% else %}
    <h2>No avatar</h2>
        {% endif %}
    <p>User name: {{ user.username }}</p>
    <p>Name: {{ user.first_name}} {{ user.last_name }}</p>
    <p>Birthday: {{ user.birthday }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>Train count:  <button><a href="#">More...</a></button> <button><a href="#">Create</a></button></p>
    <a href="{% url 'athlete-edit' %}">Edit</a></li>
    <br>


{% endblock %}
